<div id="<%= dom_id newsletter_email %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= newsletter_email.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pp check:</strong>
    <%= newsletter_email.pp_check %>
  </p>

</div>
