  <!-- //? Sticky Top Navbar -->
<div class="w-full px-12 dark:bg-black text-slate-100" >
  <nav class="flex flex-col justify-center items-center p-4 h-20">
    <!-- //? Left section links home -->
    <%= link_to root_path, class: "flex max-w-64" do %>
      <%= image_tag("logo1.png") %>
    <% end %>
    <span><small>TRUCKERJOBS4U.com &#169 Copywrite 2024</small></span>
  </nav>
</div>