  <!-- //? Sticky Top Navbar -->
<div class="fixed top-0 z-50 w-full px-12 dark:bg-slate-900 text-slate-100" >
  <nav class="sm:flex flex-wrap justify-center sm:justify-between items-center p-4 h-20">
    <!-- //? Left section links home -->
    <%= link_to root_path, class: "flex space-x-2 font-bak text-3xl" do %>
      Trucker<span class="text-yellow-600">Jobs4u.com</span>
    <% end %>
    <!-- //? Right section Page Links -->
    <div class="flex flex-grow justify-center sm:justify-end ">
      <ul class="flex space-x-2">
        <li class="flex font-poppins text-center">( 501 ) 420-3750</li>
      </ul>
    </div>
  </nav>
</div>