  <!-- //? Sticky Top Navbar -->
<div class="fixed top-0 z-50 w-full px-12 dark:bg-black text-slate-100" >
  <nav class="flex flex-wrap justify-center sm:flex-row sm:justify-between items-center py-3 sm:p-4 h-20">
    <!-- //? Left section links home -->
    <div class="flex justify-center items-center max-w-64">
      <%= link_to root_path, class: "" do %>
        <%= image_tag("logo1.png") %>
      <% end %>
    </div>
    <!-- //? Right section Page Links -->
    <div class="flex flex-grow justify-center sm:justify-end">
      <ul class="flex space-x-2">
        <li class="flex font-poppins text-center">( 501 ) 420-3750</li>
      </ul>
    </div>
  </nav>
</div>