  <!-- //? Sticky Top Navbar -->
<div class="fixed top-0 z-10 w-full px-12 dark:bg-zinc-800 text-gray-100" >
  <nav class="relative  flex justify-between items-center p-4 h-20">
    <!-- //? Left section links home -->
    <%= link_to "TruckerJobs4U.com", root_path, class: "flex space-x-2 font-bak text-3xl" %>
    <!-- //? Right section Page Links -->
    <div class="flex flex-grow justify-end ">
      <ul class="flex space-x-2">
        <li class="hidden md:flex"><%= link_to "link", root_path %></li>
        <li class="hidden md:flex"><%= link_to "link", root_path %></li>
      </ul>
    </div>
  </nav>
</div>